@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
Header {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}
/* components  */

/* header  */
.header-main {
  position: sticky;
  z-index: 1089;
  background-color: rgb(255, 255, 255);
  top: 0px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgb(130, 130, 130);
  height: 45px;
}

/* Input fields */
.input-div {
  border: 1px solid #c2c2c2;
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 9px;
}
.input-div:focus {
  border: 1px solid black;
}
input {
  border: none;
  width: 100%;
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
button:disabled {
  background-color: #bdb8ba;
  color: rgb(159, 157, 157);
}
.flag {
  margin-top: 3px;
}
.signin-button {
  border: none;
  /* -webkit-appearance: none; */
  background-color: #e72e80;
  height: 34.65217208862305px;
  width: auto;
  padding: 0px 30px;
  border-radius: 7px;
  color: white;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
/* Delivery Type */
.radio-div {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.delivery-type-box {
  border: 1px solid #c2c2c2;
  width: 100%;
  height: auto;
  border-radius: 6px;
  padding: 11px 13px;
  box-sizing: border-box;
  margin-top: 10px;
}
.card-input {
  /* border: 1px solid #9a9696; */
  border-radius: 5px;
  padding: 6px;
}
.box {
  /* width: 342px; */
  height: auto;
  color: #7d7d7d;
  border-radius: 6px;
  font-size: 13px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  padding: 11px;
  margin: 10px 0px;
  /* background-color: #F4F4F4; */
  background-color: #f4f4f4;
  margin-bottom: 25px;
}
.delivery-type-text-div {
  display: flex;
  flex-direction: column;
}
.delivery-type-text-heading {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
  margin-bottom: 4px;
}
.delivery-type-heading-price {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.delivery-type-text-detail {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #6b6b6b;
  margin: 0px;
}

.detail-date-time {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #6b6b6b;
}
/* Payment Method  */
.paymentMethod-icon {
  padding-left: 15px;
  color: #909090;
}
.cod {
  font-size: 16px;
  font-weight: 800;
}
.payment-method-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0px 13px; */
}
.website-link {
  margin-bottom: 20px;
  width: 100%;
  padding: 17px 36px;
  background-color: #f4f4f4;
  border-radius: 6px;
  box-sizing: border-box;
  justify-content: center;
}
.accordion-text {
  color: #111111;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  width: 275px;
  margin: auto;
}
.klarna-div,
.afterpay-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  background-color: #f4f4f4;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
}
.accordion-grey-text {
  color: #808080;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}
.img-div,
.palns-div {
  display: flex;
  align-items: center;
}
.radio-div-payment {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100%;
}
.plans {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 7px 0px;
  width: 83px;
  box-sizing: border-box;
  /* height: 22px; */
  text-align: center;
  font-size: 11px;
  font-weight: 400;
}
/* order review cards */
.card-main {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.card-btn {
  padding-right: 10px;
  background-color: white;
  color: #e71583;
  border-radius: 3px;
  border: none;
  text-decoration: underline;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.01em;
}
.card-detail-with-icon {
  display: flex;
}
.card-heading {
  margin-top: 0px;
  color: #3c3c3f;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  margin-bottom: 4px;
}
.card-sub-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
}
.card-text {
  margin: 0px;
  color: #1f2937;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.39px;
}
.card-icon {
  margin-right: 12px;
}
/* total card  */
.totalCard-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.totalCard-text {
  font-size: 13px;
  font-weight: 500;
}
.grey-text {
  color: #848484;
  font-size: 13px;
  font-weight: 500;
}
.total-text {
  font-size: 16px;
  font-weight: 600;
}
/* edit drawer */
.btn-pm {
  width: 100%;
  height: 43px;
  border-radius: 3px;
  justify-content: center;
  border: none;
  margin-bottom: 5px;
}
.card-button {
  background-color: #ededed;
}
.paypal {
  background-color: #ffbe43;
}
.klarna {
  background-color: #ffa9c0;
}
.amazon {
  background-color: #f6ce7c;
}
.clearpay {
  background-color: #b2fce3;
}
.pm-div {
  margin-bottom: 26px;
}
.save-btn {
  width: 258.5px;
  padding: 10px 0px;
  border: none;
  background-color: #e71583;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.edit-dt-heading {
  margin: 0px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.edit-dt-detail {
  padding-bottom: 26px;
  margin: 0px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.drawer-main {
  min-height: 250px;
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drawer-heading {
  margin-top: 0px;
  font-weight: 700;
}
.drawer-btn-div-otp {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 20px;
}
.drawer-btn-div {
  display: flex;
  justify-content: space-between;
}
.edit-drawer-header {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.addnew-btn {
  color: #e71583;
  font-size: 14px;
  font-weight: 700;
}
.div {
  position: relative;
  animation: mymove 3s forwards;
}

@keyframes mymove {
  from {
    left: -180px;
  }
  to {
    left: -4px;
  }
}
.confirm-code-heading {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.o3ds-otp-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-drawer-done-btn {
  width: 90px;
  height: 30px;
  color: white;
  background-color: #e71583;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}
.editContact-h3 {
  margin: 0px;
  font-size: 20px;
  line-height: 27.32px;
  font-weight: 600;
}
.editContact-h6 {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
  padding-top: 21px;
  padding-bottom: 9px;
}
.editContact-otp-div,
.addNew-contact,
.addNew-shipping {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.editContact-otp-text {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1%;
  text-align: center;
  width: 249px;
}

/* check-point */
.hr-checkpoint {
  margin-top: 6px;
  border: none;
  border-top: 2px dashed #b7b7b7;
  color: #fff;
  background-color: none;
  height: 25px;
  width: 36%;
}
.checkpoint-column {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pink {
  margin-top: 6px;
  border: none;
  border-top: 2px solid #e71583;
  color: #fff;
  background-color: none;
  height: 25px;
  width: 36%;
}
.checkpoint {
  position: sticky;
  top: 45px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: #b7b7b7;
  padding: 21px 15px;
  padding-bottom: 0px;
  z-index: 999;
}
.checkpoint-lense {
  position: relative;
  bottom: 3px;
}
.checkpoint-text {
  font-size: 12px;
}

/* cart menubar */
.main {
  width: 100%;
  height: 73px;
  background-color: #f9d9e0;
  padding: 0px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.price-btn {
  height: 36px;
  width: 120px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-btn {
  height: 36px;
  width: 120px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Cart  */

.brand-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  margin-bottom: 8px;
}
.total {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}
.total-div {
  display: flex;
  justify-content: space-between;
}
.quantity {
  color: #878787;
}
.amount {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.dummy-div {
  height: 85px;
  width: 100%;
}
.amount-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
.button-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* min-width: 260px; */
  /* max-width: 420px; */
  align-items: center;
  justify-content: center;
}
.product-detail {
  display: flex;
  justify-content: space-between;
}
.product-img-with-detail {
  display: flex;
}
.btn-add-remove-counter {
  border: none;
  background: none;
}
.hr-cart {
  width: 100%;
  margin: 15px 0px;

  border: 0.5px solid #cecece;
}
.product {
  padding-left: 7px;
}
.icon {
  height: 46px;
  position: relative;
  top: 4px;
}
.cart-main {
  padding: 12px 20px 37px 20px;
}
.cart-div {
  position: relative;
  background-color: white;
}

.edit-order {
  /* margin: 30px 106px 15px 106px; */
  padding: 10px 40px;
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  width: 150px;
}

.edit-order:hover {
  background-color: rgb(87, 87, 87);
}

.counter-div {
  margin-left: 48px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.counter {
  display: flex;
  width: 75px;
}
.remove {
  width: 100%;
  color: #cecece;
  font-size: 14px;
  text-align: center;
}
button:hover {
  filter: brightness(95%);
}

/* otp  */
.single-otp-input {
  color: black;
  background-color: transparent;
  width: 30px;
  height: 30px;
  outline: none;
  padding: 0px;
  margin: 0rem 0.3rem;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e72e80;
  text-align: center;
  border-radius: 4px;
}
.single-otp-input:focus,
.single-otp-input:valid {
  box-shadow: 0 0 0.2rem #e72380;
}
.single-otp-input-3ds {
  color: black;
  background-color: transparent;
  width: 30px;
  height: 30px;
  outline: none;
  padding: 0px;
  margin: 0rem 0.3rem;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 4px;
}
.single-otp-input-3ds:focus,
.single-otp-input-3ds:valid {
  box-shadow: 0 0 0.2rem #000000;
}
.none {
  width: 24px;
  height: 24px;
}

.clear {
  font-size: 18px;
  color: darkgray;
}

.otp-input {
  display: flex;
  box-shadow: 0px 0px 6px 0px #e71583;
  width: 80%;
  height: auto;
  border: 0.5px solid #e71583;
  padding: 8px 15px;
  margin-top: 43px;
}
input {
  border: none;
}
#partitioned {
  order: 1px solid black;
  letter-spacing: 25px;
  border: 0;
  /* background-image: linear-gradient( to left, black 100%, rgba(196, 196, 196, 0) 50% ); */
  background-image: url(./assets/Group7567.svg);
  background-position: left;
  /* background-size: 50px 1px; */
  background-repeat: no-repeat;
  /* background-position-x: 35px; */
  width: 167px;
  outline: none;
  font-size: 15px;
  /* text-align: center; */
  height: 30px;
  padding: 0px 34px;
  position: relative;
  left: 31px;
}
.yourBrand {
  padding: 5px;
  /* margin-bottom: 32px; */
  font-size: 12px;
  font-weight: 800;
  position: relative;
  bottom: 7px;
}
.otp-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 6px;
  padding-bottom: 35px;
}
.resend {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: underline;
}
.heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.otp-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 20px 38px; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.signIn {
  border: none;
  background-color: #e71583;
  color: white;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  border-radius: 5px;
  padding: 6px 0px;
  width: 102px;
}
.temp-btn {
  display: flex;
  justify-content: space-between;
  width: 201px;
  padding: 20px;
}
.otp-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}
.otp-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 3ds */

.o3ds-heading {
  font-size: 20px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 14px;
}
.o3ds-text {
  font-size: 14px;
  color: #a3a1a1;
  font-weight: 400;
  margin-bottom: 36px;
}
.o3ds-h6 {
  font-size: 14px;
  margin-bottom: 8px;
}

.o3ds-main {
  padding: 20px;
}

.o3ds-otp {
  width: 100%;
  height: auto;
  border: 0.5px solid black;
  padding: 11px 15px;
  margin-bottom: 18px;
  border-radius: 5px;
  box-sizing: border-box;
}
.o3ds-btn {
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
  color: white;
  background-color: black;
  border-radius: 2px;
  border: none;
}
.o3ds-resend {
  text-align: center;
  font-size: 15px;
  color: #a3a1a1;
  font-weight: 600;
  margin-bottom: 36px;
  margin-top: 15px;
  width: 100%;
}
.o3ds-input {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #cac1c1;
}

/* Pages  */

/* Sign In  */
.cartFixed {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.signIn-main {
  height: 1000px;
}

.signIn-div {
  position: absolute;
  background-color: white;
  padding: 15px;
  padding-top: 20px;
  box-shadow: 0px 14px 15px 0px #898888;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
}
.signIn-heading {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 12px;
}

.signIn-text {
  padding-left: 12px;
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  margin-top: 3px;
  margin-bottom: 17px;
  /* width: 275px; */
}
.lock-text {
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  /* position: fixed;
  bottom: 130px; */
  color: #111111;
  line-height: 16px;
}
.img-lock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #6a656596;
  height: 1300px;
  bottom: 1181.5px;
}
@media only screen and (max-width: 3000px) {
  .img-lock {
    bottom: 1135.5px;
  }
}
@media only screen and (max-width: 545px) {
  .img-lock {
    bottom: 1135.5px;
  }
}
@media only screen and (max-width: 534px) {
  .img-lock {
    bottom: 1144.5px;
  }
}
@media only screen and (max-width: 425px) {
  .img-lock {
    bottom: 1144.5px;
  }
}
@media only screen and (max-width: 420px) {
  .img-lock {
    bottom: 1162.5px;
  }
}

@media only screen and (max-width: 356px) {
  .img-lock {
    bottom: 1168.5px;
  }
}

@media only screen and (max-width: 320px) {
  .img-lock {
    bottom: 1170.5px;
  }
}

.lock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 311pt;
}

/* new User */

.newUser-main {
  box-sizing: border-box;
  padding: 0px 13px;
}

.newUser-textField {
  margin-bottom: 9px;
  width: 100%;
}
.newUser-headings {
  margin-bottom: 16px;
  margin-top: 33px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.manual-address {
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 14px;
  color: #e71583;
  text-decoration: underline;
}
.newUser-payment-method {
  margin-bottom: 12px;
  margin-top: 12px;
}
.newUser-checkBox {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #6b6b6b;
}
.promo-input-feild {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: auto;
  border: 1px solid #c2c2c2;
  padding: 14px;
  border-radius: 7px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.promo-text {
  font-family: Manrope;
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #9361b4;
}
.promo-text-wrong {
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-align: left;
  color: red;
}

.flex-feilds {
  display: flex;
}
.verify {
  color: #e71583;
  border: none;
  width: 100px;
  height: 31.65px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #ffffff;
}
.info-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #6b6b6b;
}
#info-img {
  position: relative;
  top: 8px;
  padding-right: 5px;
}
.info {
  align-items: flex-start;
  display: flex;
  margin-top: 18px;
}
.info-text {
  margin-bottom: 20px;
  line-height: 10px;
}
.info-img-2 {
  position: relative;
  top: 9px;
}

/* Returning User  */
.returningUser-heading {
  margin-top: 0px;
}

.returningUser-main {
  padding: 30px 17px;
}
.card {
  padding: 11px;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* padding: 11px; */
  margin: 15px 0px;
}
.ReturningUser-checkBox {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #050505;
}
.orderDetail-main {
  padding: 0px 17px;
}
.gif {
  width: 100%;
}
.termsNpolicy {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 32px;
  margin-top: 2px;
}
.terms,
.policy {
  font-weight: 500;
  color: #e71583 !important;
  text-decoration: underline;
}

/* order detail  */
.gif-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif {
  max-width: 600px;
}
.order-detail-menubar-heading {
  font-size: 18px;

  font-weight: 600;
  color: #686868;
  margin-bottom: 20px;
  margin: 6px;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 0.5px solid #cdcdcf;
  /* box-shadow: 0px 2px 5px rgb(209 201 201); */
}
.card-border {
  padding: 18px 17px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 12px;
}
.detail-heading {
  margin-bottom: 5px;
}
.card-space {
  margin-bottom: 15px;
}

.userDetail-div {
  display: flex;
  margin-bottom: 27px;
}
.orderDeatial-heading-main {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.orderDetail-text-main {
  margin-bottom: 27px;
  padding: 0 36px;
  align-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.39px;
  text-align: center;
  color: #6a6a6a;
}
.amount-card-text {
  font-size: 13px;
  font-weight: 500;
}
.orderDetail-heading {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.orderDetail-text {
  margin: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.icon {
  margin-right: 14px;
}
.orderDetail-subheading {
  margin: 3px 0px;
  font-size: 17px;
  font-weight: 600;
}
.product-div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0px 14px;
}
.thumbnail {
  margin-right: 10px;
}
.order-detail-hr {
  width: 100%;
  margin: 15px 0;
  border: 0.5px solid #cecece;
}
.orderDetail-product {
  display: flex;
}
.verified-div {
  font-size: 13px;
  font-weight: 600;
  color: #e71583;
  /* transform: scale(0.6); */
}
.verifiedContact-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pricing {
  padding: 0px 11px 11px 11px;
  margin-bottom: 15px;
}
.img1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: block;
}
.img2 {
  margin-bottom: 35px;
}
.userDetail-main {
  margin: 0px 15px;
}
.icon {
  color: #474747;
}
.icon-img {
  width: 18px;
}
/* opt screen */
.Otp-Fields-New {
  height: 60px !important;
  width: 60px !important;
  border-radius: 10px;
  /* border-color: rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-size: 22px !important;
  /* margin-left: 10px; */
  margin-right: 10px;
  border: 1px solid #d1d5db;
}
.Otp-Fields-New:focus {
  outline: none;
  border-color: #e72e817a !important;
  box-shadow: 0 0px 0px 0.25rem #e72e8128 !important;
  /* outline: 0 none !important; */
}

@media (max-width: 426px) {
  .Otp-Fields-New {
    height: 50px !important;
    width: 50px !important;
  }
}
