.RadioDiv{
    
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold}

   


.NotRadioDiv{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;    
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.RadioText{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
}

.RadioTextActive{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    
    color: #000000;
}

.PaymentRadio{
    text-align: left;
}

.PAYFULL{
    border: 1px solid black;
    padding: 2px 10px 2px 10px;
}

.Arrow{
    margin-bottom: 10px;
    margin-left: 10px;
}
/* 
@keyframes example {
    from {background-color: #ffffff;}
    to {background-color: yellow;}
  } */

.CardForm{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 2px;
display: flex;
justify-content: center;
filter: drop-shadow(0px 4px 4px rgba(121, 114, 114, 0.25));
height: 45px;
margin: 10px 0 10px 0;
}


.CardForm1{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    justify-content: center;
    filter: drop-shadow(0px 1.5px 4px rgba(90, 89, 89, 0.25));
    height: 45px;
    margin: 10px 0 10px 0;
    }