.react-tel-input .form-control {
  padding: 20px 38px !important;
  width: 100% !important;
}
.intl-tel-input input,
.intl-tel-input input[type="text"],
.intl-tel-input input[type="tel"] {
  padding-top: 14px;
  padding-left: 35px !important;
}
.iti-mobile .intl-tel-input.iti-container {
  top: 255px !important;
  bottom: 1px !important;
  left: 18px !important;
  right: 30px !important;
  position: fixed !important;
}
/* SinnIn2 */
.signIn-heading {
  margin-top: 45px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  letter-spacing: 0.01em !important;
  text-align: left !important;
  margin-bottom: 7px;
}
.price-btn-signIn2 {
  background-color: #e72e80;
  color: white;
  font-weight: 600;
}
.lable {
  font-size: 12px;
  line-height: 16.39px;
}
.SignIn2-orderDetail {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.signIn-text {
  margin-bottom: 57px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.main-signIn2 {
  padding: 0px 14px;
}
.button-div {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 118px;
}
.buttons {
  border: none;
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 6px;
  width: 292px;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
}
.terms {
  color: #e72e80;
  text-decoration: underline;
}
.white {
  background-color: white;
  color: black;
  border: 1px black solid;
}
